/build
/.vs
/Debug
/x64
/out
/tmp

*.vcxproj.user
*.user
*.useros
*.filters
CMakeSettings.json

/rosewood/Debug
/rosewood/x64

/namazu/Debug
/namazu/x64

/test/Debug
/test/x64
/test/Release

*zip
*dll

/client/__pycache__
/client/QCandyUi
/client/*jpeg
/client/*temp*
/client/*json
/client/fur
/client/color

/.idea
/cmake-build-debug
/cmake-build-release
/cmake-build-release-visual-studio